<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex space-between">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <h3>Classroom</h3>
        </a>
  
        <div class="dropdown text-end">
          <img [src]="photoUrl" alt="mdo" width="32" height="32" class="rounded-circle">
          <button type="button" class="btn btn-danger m-lg-4" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </header>