
.text-end {
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-left: 15px;
    }
}

.space-between {
    justify-content: space-between;
}

.room-list {
  overflow: scroll;
  height: 75vh;
  .card {
    margin-bottom: 10px;
  }
}
