<!-- <pre *ngIf="fAuth.user | async as user;">
    {{user | json}}
</pre> -->
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex space-between">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <h3>Classroom</h3>
      </a>

      <div class="dropdown text-end">
        <img [src]="photoUrl" alt="mdo" width="32" height="32" class="rounded-circle">
        <button type="button" class="btn btn-danger m-lg-4" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</header>

<!-- rooms -->
<main class="container-fluid">
  <div class="row">
    <aside class="col-4">
      <h3 class="text-center">Active People</h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users">{{ user }}</li>
      </ul>
    </aside>
    <section class="col-8">
      <h3 class="text-center">Rooms</h3>
      <article class="col-sm-12 room-list">
        <div class="card" *ngFor="let room of [1,2,3,4,5]">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </article>
    </section>
  </div>
</main>
